*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#f8f9fa;

}

.navbar{

    background:#212529;

}

.navbar-brand{

    color:#d4af37 !important;

    font-size:30px;

    font-weight:700;

}

.register-section{

    min-height:90vh;

    display:flex;

    align-items:center;

    justify-content:center;

    background:url("https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?auto=format&fit=crop&w=1800&q=80")
    center center;

    background-size:cover;

    position:relative;

}

.register-section::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.55);

}

.container{

    position:relative;

    z-index:2;

}

.register-card{

    max-width:550px;

    margin:auto;

    border:none;

    border-radius:18px;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

}

.form-control{

    height:50px;

    border-radius:10px;

}

.form-control:focus{

    border-color:#d4af37;

    box-shadow:0 0 8px rgba(212,175,55,.4);

}

.gold-btn{

    background:#d4af37;

    color:white;

    border:none;

    font-weight:600;

    height:50px;

    transition:.3s;

}

.gold-btn:hover{

    background:#b99622;

    color:white;

}

a{

    color:#d4af37;

    text-decoration:none;

    font-weight:600;

}

a:hover{

    color:#b99622;

}

.text-danger{

    font-size:14px;

}